# Local STLF with Data Streams

This notebook provides the exemplary code to apply a basic machine learning model for data streams.

In [1]:
#Imports
#Imports
import pandas as pd
import os
import tensorflow as tf

import sys  
sys.path.append("../")  
from utils.modelgenerator import *
from utils.modelhandler import *
from utils.datahandler import *

WARNING:tensorflow:From c:\Users\rs1044\Documents\GitHub\Mixture-of-Experts-based-Federated-Learning-for-Energy-Forecasting\.venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From c:\Users\rs1044\Documents\GitHub\Mixture-of-Experts-based-Federated-Learning-for-Energy-Forecasting\.venv\Lib\site-packages\tensorflow_probability\python\internal\backend\numpy\_utils.py:48: The name tf.logging.TaskLevelStatusMessage is deprecated. Please use tf.compat.v1.logging.TaskLevelStatusMessage instead.

WARNING:tensorflow:From c:\Users\rs1044\Documents\GitHub\Mixture-of-Experts-based-Federated-Learning-for-Energy-Forecasting\.venv\Lib\site-packages\tensorflow_probability\python\internal\backend\numpy\_utils.py:48: The name tf.control_flow_v2_enabled is deprecated. Please use tf.compat.v1.control_flow_v2_enabled instead.

In [3]:
# Setup data
#Get data 
cwd = os.path.normpath(os.path.dirname(os.path.dirname(os.getcwd())))
df = pd.read_csv(cwd+'/data/2feature_engineering_data/df_with_final_features.csv', index_col='Date') #df = pd.read_csv('user5.csv')
df.index = pd.to_datetime(df.index)
#df = df[['User5', 'temp', 'rhum']]
df.fillna(0, inplace=True)

df_array = []
for idx in range(1):
    df_array.append(df[[f'User{idx+1}', 'temp', 'rhum', 'wspd', 'PC1', 'hour sin', 'hour cos', f'User{idx+1}_lag_24hrs']])


columns_to_keep = []

for column_name in df.columns:
    if column_name.startswith('User') and column_name[4:].isdigit():
        user_number = int(column_name[4:])
        if 1 <= user_number <= 30:
            columns_to_keep.append(column_name)

filtered_df = df[columns_to_keep]
filtered_df.reset_index(inplace=True)
filtered_df

,Date,User1,User10,User11,User12,User13,User14,User15,User16,User17,...,User28,User29,User3,User30,User4,User5,User6,User7,User8,User9
0,2012-07-08 00:00:00,0.200,0.099,0.312,0.152,1.227,0.162,0.089,1.079,0.366,...,0.144,0.418,0.979,0.024,0.092,0.084,0.509,0.106,0.133,0.011
1,2012-07-08 01:00:00,0.253,0.060,0.263,0.212,0.132,0.204,0.072,0.714,0.134,...,0.125,0.065,0.049,0.060,0.090,0.091,0.489,0.067,0.076,0.011
2,2012-07-08 02:00:00,0.441,0.028,0.257,0.218,0.144,0.193,0.067,0.706,0.127,...,0.088,0.048,0.046,0.057,0.091,0.076,0.573,0.066,0.071,0.015
3,2012-07-08 03:00:00,0.220,0.054,0.243,0.225,0.139,0.170,0.045,0.796,0.134,...,0.100,0.049,0.053,0.050,0.098,0.079,0.363,0.084,0.073,0.011
4,2012-07-08 04:00:00,0.635,0.060,0.245,0.188,1.157,0.146,0.064,0.755,0.154,...,0.088,0.066,0.040,0.022,0.096,0.133,0.595,0.129,0.073,0.019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8587,2013-06-30 19:00:00,0.335,0.198,1.362,1.385,0.237,0.331,0.082,0.671,0.418,...,1.381,0.582,0.052,0.350,0.280,2.152,1.018,0.066,0.563,0.089
8588,2013-06-30 20:00:00,0.213,0.873,0.687,1.347,0.282,0.940,0.095,0.507,0.510,...,0.225,0.389,0.050,0.591,0.273,1.993,0.910,0.103,0.104,0.053
8589,2013-06-30 21:00:00,0.190,0.113,0.675,1.615,1.193,0.290,0.115,0.219,0.487,...,0.931,0.749,0.112,0.513,0.253,0.814,1.011,0.076,0.086,0.048
8590,2013-06-30 22:00:00,0.274,0.092,0.747,1.636,0.132,0.265,0.080,0.105,0.197,...,0.119,0.391,0.056,0.168,0.134,0.390,1.063,0.084,0.203,0.072
8591,2013-06-30 23:00:00,0.166,0.041,0.291,1.460,0.047,0.982,0.080,0.119,0.171,...,0.100,0.093,0.065,0.039,0.140,1.068,1.044,0.075,0.114,0.074

In [ ]:
# Setup data
"""
Historical data
- Clustering of the users
- train and evaluate model (wandb)

Data streams
- predict and update model (wandb)
- Recluster clients
"""