In [1]:
# Required libraries

import pandas as pd
from datetime import timedelta
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Read the data

load = pd.read_csv('final_dataset_2012-2013_home electricity data.csv')
load.head()

                  Date   User  Consumption_kW
0  2012-07-01 01:00:00  User1           0.786
1  2012-07-01 02:00:00  User1           0.544
2  2012-07-01 03:00:00  User1           0.612
3  2012-07-01 04:00:00  User1           0.665
4  2012-07-01 05:00:00  User1           0.140

In [3]:
# Pivot the dataframe
pivot_df = load.pivot(index='Date', columns='User', values='Consumption_kW').reset_index()

# Rename the columns
pivot_df.columns.name = None

load_final = pivot_df

# Print the resulting dataframe
load_final.head()

,Date,User1,User10,User11,User12,User13,User14,User15,User16,User17,...,User33,User34,User35,User36,User4,User5,User6,User7,User8,User9
0,2012-07-01 00:00:00,0.068,0.703,0.353,0.210,0.138,0.208,0.065,0.340,0.129,...,0.284,0.244,0.397,0.102,0.090,0.098,0.636,0.106,0.156,0.012
1,2012-07-01 01:00:00,0.786,0.036,0.547,0.197,0.343,0.176,0.067,0.508,0.121,...,0.661,0.331,0.276,0.077,0.084,0.098,0.253,0.098,0.151,0.022
2,2012-07-01 02:00:00,0.544,0.045,0.519,0.163,0.339,0.164,0.057,0.542,0.141,...,0.276,0.169,0.305,0.025,0.084,0.075,0.220,0.089,0.152,0.023
3,2012-07-01 03:00:00,0.612,0.031,0.324,0.173,0.337,0.178,0.063,0.590,0.165,...,0.293,0.169,0.304,0.036,0.091,0.072,0.241,0.103,0.148,0.012
4,2012-07-01 04:00:00,0.665,0.018,0.343,0.156,0.363,0.193,0.065,0.551,0.122,...,0.276,0.113,0.261,0.054,0.091,0.092,0.199,0.090,0.146,0.038

In [5]:
# Save the dataframe

load_final.to_csv('load_final.csv', index=False)