# Visualize results

In [2]:
#Imports
import pandas as pd

In [ ]:
#dense_local_learning_results.csv
#moe_soft_dense_local_learning_results.csv
#moe_topk_dense_local_learning_results.csv

In [5]:
dense_results = pd.read_csv('evaluations/moe_bilstm_benchmark_results.csv')
dense_results

,Unnamed: 0,architecture,Loss@User10,std@User10,Loss@User11,std@User11,Loss@User12,std@User12,mean
0,0,Bi20_sexp4d8,0.016075,0.001194,0.014661,0.000493,0.011256,0.001110,0.013997
1,1,1xBi20_top2exp5d8_d16,0.016893,0.001499,0.014476,0.000408,0.010300,0.000619,0.013890
2,2,Bi10_sexp4d8,0.016085,0.000419,0.014669,0.000775,0.011186,0.001014,0.013980
3,3,1xBi10_top2exp5d8_d16,0.016815,0.000191,0.014956,0.000667,0.012526,0.000992,0.014766
4,4,Bi8_sexp8d16,0.015341,0.002136,0.014728,0.001041,0.010751,0.000751,0.013606
5,5,Bi8_top2exp10d16_d16,0.016634,0.002735,0.015349,0.000627,0.011403,0.001181,0.014462

In [ ]:
dense_results = pd.read_csv('evaluations/moe_soft_dense_benchmark_results.csv')
dense_results

In [10]:
dense_results = pd.read_csv('evaluations/local_learning/dense_local_learning_results.csv')
dense_results.head(3)

,Unnamed: 0,architecture,train_time,avg_time_epoch,mse,mse_std,rmse,rmse_std,mape,mape_std,mae,mae_std
0,0,L3_U16,29.244317,1.102366,0.033726,0.000621,0.183641,0.001689,64958.031250,8687.223938,0.128111,0.002490
1,1,L3_U16,20.418436,1.149232,0.018216,0.000367,0.134962,0.001355,198887.406250,51530.550575,0.079663,0.002686
2,2,L3_U16,23.348438,1.136324,0.020012,0.000339,0.141462,0.001194,61530.289062,9689.542405,0.084766,0.005494

In [9]:
print("Mean total train time: ", dense_results["train_time"].mean())
print("Mean train time epoch: ", dense_results["avg_time_epoch"].mean())
print("Mean mse: ", dense_results["mse"].mean())
print("Mean rmse: ", dense_results["rmse"].mean())
print("Mean mape: ", dense_results["mape"].mean())
print("Mean mae: ", dense_results["mae"].mean())

Mean total train time:  31.02335272894965
Mean train time epoch:  1.1637335043102353
Mean mse:  0.018687749219437395
Mean rmse:  0.13483331476648644
Mean mape:  242047.13003586663
Mean mae:  0.08679013421965966

In [11]:
dense_softmoe_results = pd.read_csv('evaluations/local_learning/moe_soft_dense_local_learning_results.csv')
print("Mean total train time: ", dense_softmoe_results["train_time"].mean())
print("Mean train time epoch: ", dense_softmoe_results["avg_time_epoch"].mean())
print("Mean mse: ", dense_softmoe_results["mse"].mean())
print("Mean rmse: ", dense_softmoe_results["rmse"].mean())
print("Mean mape: ", dense_softmoe_results["mape"].mean())
print("Mean mae: ", dense_softmoe_results["mae"].mean())

Mean total train time:  60.295127198431224
Mean train time epoch:  1.960040913875554
Mean mse:  0.018560692843877555
Mean rmse:  0.134271362506681
Mean mape:  252742.8143728468
Mean mae:  0.08507795122762517

In [12]:
dense_topkmoe_results = pd.read_csv('evaluations/local_learning/moe_topk_dense_local_learning_results.csv')
print("Mean total train time: ", dense_topkmoe_results["train_time"].mean())
print("Mean train time epoch: ", dense_topkmoe_results["avg_time_epoch"].mean())
print("Mean mse: ", dense_topkmoe_results["mse"].mean())
print("Mean rmse: ", dense_topkmoe_results["rmse"].mean())
print("Mean mape: ", dense_topkmoe_results["mape"].mean())
print("Mean mae: ", dense_topkmoe_results["mae"].mean())

Mean total train time:  52.313198335965474
Mean train time epoch:  1.917139688481675
Mean mse:  0.01877490349320897
Mean rmse:  0.13492251775330963
Mean mape:  251106.81528803508
Mean mae:  0.0858432837658458